<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render 'partials/dashboard-nav' %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Communities
        <%= link_to 'Add New', new_community_path, class: 'btn btn-red pull-right' %>
      </h1>
      <div class="table-responsive">
        <div class="sortable">
          <% sortable_fetch(@communities) do |community, id_tag| %>
            <div class="community_listing_container" id="<%= id_tag %>">
              <h3><%= community.name %></h3>
              <p>
                Homes available: <%= community.homes.count %>
                <span class="pull-right">
                  <%= link_to edit_community_path(community), class: 'edit_delete_link' do %>
                    <span class="glyphicon glyphicon-pencil mr10" aria-hidden="true"></span>
                  <% end %>
                  <%= link_to community, class: 'edit_delete_link', data: {confirm: 'Are you sure'}, method: :delete do %>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  <% end %>
                </span>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.sortable').railsSortable();
  });
</script>
