<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render 'partials/dashboard-nav' %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Homes
        <%= link_to 'Add New', new_home_path, class: 'btn btn-red pull-right' %>
      </h1>

      <div>
        <div class="sortable">
          <% sortable_fetch(@homes) do |home, id_tag|  %>

            <div class="home_list_container" id="<%= id_tag %>">
              <h3><%= home.plan %> - <span class="light">Lot <%= home.lot %></span></h3>
              <p class="address">
                <%= home.address %>, <%= home.city %>, <%= home.state %> <%= home.zip %> | <span class="bold"><%= home.community.name %></span>
                <span class="pull-right">
                  <%= link_to edit_home_path(home), class: 'edit_delete_link' do %>
                    <span class="glyphicon glyphicon-pencil mr10" aria-hidden="true"></span>
                  <% end %>
                  <%= link_to home, class: 'edit_delete_link', data: {confirm: 'Are you sure'}, method: :delete do %>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                  <% end %>
                </span>
              </p>
            <!-- <p><%= home.latitude %> | <%= home.longitude %> </p>
            <p><%= home.set_address.to_s %></p> -->
            </div>
  <!--
            <p>Features:</p>
            <% for feature in home.features %>
              <p><%= feature.name %></p>
            <% end %>
  -->
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.sortable').railsSortable();
  });
</script>
