<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <%= render 'partials/dashboard-nav' %>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Homes
        <%= link_to 'Add New', new_home_path, class: 'btn btn-default pull-right' %>
      </h1>
      <h2 class="sub-header">Section title</h2>
      <div>
        <% for home in @homes %>
          <p><%= link_to home.plan, edit_home_path(home) %></p>
          <p><%= home.description %></p>
          <p><%= home.community.name %></p>
          <p><%= home.community.overview %></p>
          <p><%= home.community.school_title %></p>
          <p><%= home.community.highschool %></p>
          <p><%= home.community.middleschool %></p>
          <p><%= home.community.elementaryschool %></p>
          <p>Features:</p>
          <% for feature in home.features %>
            <p><%= feature.name %></p>
          <% end %>
          <p>
            <%= link_to "Edit", edit_home_path(home) %>
            <%= link_to "Delete", home, data: {confirm: 'Are you sure?'}, method: :delete %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
