<div class="links">
  <a href="/homes">
    <%= image_tag 'home.png', class: 'sidebar__image' %>
    <h3 class="links__header">Available <span class="light_text">Homes</span> <span class="glyphicon glyphicon-arrow-right links_arrow" aria-hidden="true"></span></h3>
  </a>
</div>
<div class="links">
  <a href="/communities">
    <%= image_tag 'home2.png', class: 'sidebar__image' %>
    <h3 class="links__header">Our <span class="light_text">Communities</span> <span class="glyphicon glyphicon-arrow-right links_arrow" aria-hidden="true"></span></h3>
  </a>
</div>
<div class="links">
  <%= image_tag 'home3.png', class: 'sidebar__image' %>
  <h3 class="links__header">Home <span class="light_text">Plans</span> <span class="glyphicon glyphicon-arrow-right links_arrow" aria-hidden="true"></span></h3>
</div>

<!--
<h3 class="sidebar__header">Available Homes</h3>

<%= image_tag 'home.png', class: 'sidebar__img' %>

<h3 class="sidebar__header">Communities</h3>

<%= image_tag 'home2.png', class: 'sidebar__img' %>

<h3 class="sidebar__header">Floor Plans</h3>

<%= image_tag 'home3.png', class: 'sidebar__img' %> -->
