<%= render 'partials/navbar' %>

<header id="available_header">
  <div class="secondary_header">
    <div class="secondary_header__title">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="secondary_header__text">About Blvd Homes</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <!-- <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</br>
            <span>- Matthew Beata, President</span>
          </blockquote -->

              <h2 class="about__title">Who is Blvd Homes?</h2>


              <div class="staff_list">
                <%= image_tag 'prof.png', class: 'staff_list__img' %>
                <h2 class="staff_list__header">Matthew Beata</h2>
                <h3 class="staff_list__subheader">President</h3>
                <p class="staff_list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="staff_list">
                <%= image_tag 'prof.png', class: 'staff_list__img' %>
                <h2 class="staff_list__header">Matthew Beata</h2>
                <h3 class="staff_list__subheader">President</h3>
                <p class="staff_list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
              <div class="staff_list">
                <%= image_tag 'prof.png', class: 'staff_list__img' %>
                <h2 class="staff_list__header">Matthew Beata</h2>
                <h3 class="staff_list__subheader">President</h3>
                <p class="staff_list__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>

        </div>
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-3">
          <%= render 'partials/sidebar-images' %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= render 'partials/footer' %>
