<%= render 'partials/navbar' %>

<header id="available_header">
  <div class="secondary_header">
    <div class="secondary_header__title">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="secondary_header__text">About Blvd Homes</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
          <!-- <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</br>
            <span>- Matthew Beata, President</span>
          </blockquote -->




              <h2 class="about__title">About Blvd Homes</h2>


              <p class="about__text">Matt started Boulevard Building Group, LLC in 2010 with the intent to bring unique styling and quality construction to middle Tennessee.  Growing up around construction, Matt is a second generation homebuilder who has lived in Middle Tennessee for over 20 years. Matt graduated from University of Tennessee – Knoxville in Finance and currently lives in Fairview with his wife and two children where he enjoys cooking, hiking and music!</p>
              <p class="about__text">While attending the University of Tennessee in Knoxville, Matthew bought his first rental property, became a Tennessee licensed contractor and continued to manage home building projects during school breaks.  After graduating UTK with a major in Finance, Matthew worked with his family to design, develop and construct Westview Plaza, a 5,500 sqft office/retail building located in Fairview, TN.  Matthew also joined the City of Fairview Planning Commission at the age of 24, where he served for 11 years before stepping down in 2017 to spend more time with his growing family.</p>
              <p class="staff_list__text">Today, Boulevard Building Group, LLC has become a full-service design, development & construction company with projects ranging from multifamily developments to residential subdivisions located in Franklin, Nashville, Fairview and surrounding areas.</p>

              <h2 class="about__title_alt">Who is Blvd Homes?</h2>
              <div class="staff_list">
                <!-- <%= image_tag 'prof.png', class: 'staff_list__img' %> -->
                <h2 class="staff_list__header">Matthew Beata</h2>
                <h3 class="staff_list__subheader">President</h3>
                <p class="staff_list__text">Matt started Boulevard Building Group, LLC in 2010 with the intent to bring unique styling and quality construction to middle Tennessee.  Growing up around construction, Matt is a second generation homebuilder who has lived in Middle Tennessee for over 20 years. Matt graduated from University of Tennessee – Knoxville in Finance and currently lives in Fairview with his wife and two children where he enjoys cooking, hiking and music!</p>
              </div>
              <div class="staff_list">
                <!-- <%= image_tag 'prof.png', class: 'staff_list__img' %> -->
                <h2 class="staff_list__header">Amanda Wiggers</h2>
                <h3 class="staff_list__subheader">VP of Operations</h3>
                <p class="staff_list__text">Amanda has been part of the BLVD team since 2015.  Amanda handles office and job site coordination regarding selections, deliveries and scheduling.  Amanda graduated from UT – Knoxville with a BA in Political Science & has her MBA from Middle Tennessee State University in Management and currently lives with her husband in west Nashville where she enjoys yardwork, walking her dog, and staying active!</p>
              </div>
              <div class="staff_list">
                <!-- <%= image_tag 'prof.png', class: 'staff_list__img' %> -->
                <h2 class="staff_list__header">Zach Bauder</h2>
                <h3 class="staff_list__subheader">Project Manager</h3>
                <p class="staff_list__text">Zach has been part of BLVD team since 2015.  Zach is the project manager for all new homes and handles jobsite supervision and scheduling.  Zach graduated from Middle Tennessee State University in Construction Management and currently lives in Nashville where he enjoys playing music, supporting Nashvillle sports teams (Go Preds!), and plays in multiple sports leagues!</p>
              </div>

        </div>
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-3">
          <%= render 'partials/sidebar-images' %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= render 'partials/footer' %>
