<%= render 'partials/navbar' %>

<header id="hero_header">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
        <div class="hero">
          <h1 class="hero__header fadeInDown animated">Your Dream Home Awaits</h1>
          <p class="hero__sub fadeIn animated">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <a href="" class="hero__btn fadeInUp animated">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <!-- Block -->
  <div id="block_container">
    <div class="container">
      <div class="block">
        <p class="block__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>

  <!-- Welcome -->
  <section id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10 border_btm">
          <h2 class="welcome__header">Welcome<br/>to <span>Blvd Builders</span></h2>
          <p class="welcome__text">Boulevard Homes is a home design and construction company.  We believe in constructing homes with an emphasis on style and strive to create one of a kind homes for you and your family to enjoy!  Building in Metro Nashville, TN and throughout Williamson county including Franklin, Brentwood and Fairview.  Look for our custom homes in Ladd Park Subdivision in Franklin, TN!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- OPTIONS -->
  <section id="options">

    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
          <div class="row">
            <div class="col-md-4">
              <%= image_tag 'home.png', class: 'option__img-pic' %>
              <h2 class="option__header">Move-In Ready</h2>
              <a href="#" class="option__btn">Learn More</a>
            </div>
            <div class="col-md-4">
              <%= image_tag 'home2.png', class: 'option__img-pic' %>
              <h2 class="option__header">Our Communities</h2>
              <a href="#" class="option__btn">Learn More</a>
            </div>
            <div class="col-md-4">
              <%= image_tag 'home3.png', class: 'option__img-pic' %>
              <h2 class="option__header">Floor Plans</h2>
              <a href="#" class="option__btn">Learn More</a>
            </div>
          </div>
        </div>



      </div>
    </div>




    <!-- <div class="container">
      <div class="option">
        <div class="option__img">
          <%= image_tag 'home.png', class: 'option__img-pic' %>
        </div>
        <div class="option__content">
          <h2 class="option__header">Move-in Ready Homes</h2>
          <p class="option__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
          <a href="#" class="option__btn">Learn More</a>
        </div>
      </div>
      <div class="option_reverse">
        <div class="option__img">
          <%= image_tag 'home2.png', class: 'option__img-pic' %>
        </div>
        <div class="option__content">
          <h2 class="option__header">Communities</h2>
          <p class="option__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
          <a href="#" class="option__btn">Learn More</a>
        </div>
      </div>
      <div class="option">
        <div class="option__img">
          <%= image_tag 'home3.png', class: 'option__img-pic' %>
        </div>
        <div class="option__content">
          <h2 class="option__header">Floor Plans</h2>
          <p class="option__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
          <a href="#" class="option__btn">Learn More</a>
        </div>
      </div>
    </div> -->

  </section>

  <!-- FEATURES -->
  <!-- <section id="features">

  </section> -->

  <!-- JOIN EMAIL LIST -->
  <section class="join">
    <div class="join__header">
      <h3 class="join__header-text">Stay informed on the latest</h3>
    </div>
    <div class="join__form">
      <input type="text" class="join__input" placeholder="Name" />
      <input type="text" class="join__input" placeholder="Email" />
      <button class="join__btn">Subscribe</button>
    </div>
  </section>

</main>

<%= render 'partials/footer' %>
