<%= render 'partials/navbar' %>

<header id="hero_header">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
        <div class="hero">
          <h1 class="hero__header fadeInDown animated">Welcome Home</h1>
          <p class="hero__sub fadeIn animated">Your dream home awaits!</p>
          <a href="/home" class="hero__btn fadeInUp animated">View Homes</a>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <!-- Block -->
  <div id="block_container">
    <div class="container">
      <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10">
        <div class="block">
          <p class="block__text">We custom design and draw the majority of our home plans.  This gives us the ability to play upon the special features of a home site to help create a truly unique home!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Welcome -->


  <section id="welcome">
    <div class="container">
      <div class="welcome_main">
        <div class="row">
          <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-7">
            <h2 class="welcome__header">Welcome<br/>to <span class="blvd">Blvd</span><span class="builders">Homes</span></span></h2>
            <p class="welcome__text">Boulevard Homes is a home design and construction company.  We believe in constructing homes with an emphasis on style and strive to create one of a kind homes for you and your family to enjoy!  Building in Metro Nashville, TN and throughout Williamson county including Franklin, Brentwood and Fairview.  Look for our custom homes in Ladd Park Subdivision in Franklin, TN!</p>
            <a href="/homes" class="option__btn">View Homes</a>
          </div>
          <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-5">
            <div class="welcome_contact">
              <h3 class="welcome_contact_header">Get in touch...</h3>
              <p class="welcome_contact_text">You can call our office at <span class="bold">615-252-6781</span>, or use the form below.</p>
              <form>

                    <div class="form-group">
                      <input type="text" class="touch__input" placeholder="Name"/>
                    </div>

                    <div class="form-group">
                      <input type="email" class="touch__input" placeholder="Email"/>
                    </div>

                <div class="form-group">
                  <textarea type="text" class="touch__textarea" rows=3 placeholder="Add a messsage..."></textarea>
                </div>
                <button class="option__btn">Send message</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="home_menu">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="/home" class="home_menu__link">
          <div class="home_menu_item">
              <%= image_tag 'home_alt.png', class: 'home_menu_item__img' %>
              <h3 class="home_menu_item__header">Available <span class="light_text">Homes</span> <span class="glyphicon glyphicon-arrow-right links_arrow" aria-hidden="true"></span></h3>
              <p class="home_menu_item__description">View our completed and nearly completed homes</p>

            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="/communities" class="home_menu__link">
            <div class="home_menu_item">
              <%= image_tag 'home1_alt.png', class: 'home_menu_item__img' %>
              <h3 class="home_menu_item__header">Our <span class="light_text">Communities</span> <span class="glyphicon glyphicon-arrow-right links_arrow" aria-hidden="true"></span></h3>
              <p class="home_menu_item__description">View the communities where our homes are offered</p>

            </div>
          </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <a href="/homes" class="home_menu__link">
            <div class="home_menu_item">
              <%= image_tag 'home_alt.png', class: 'home_menu_item__img' %>
              <h3 class="home_menu_item__header">Home <span class="light_text">Plans</span> <span class="glyphicon glyphicon-arrow-right links_arrow" aria-hidden="true"></span></h3>
              <p class="home_menu_item__description">View our current home plans</p>

            </div>
          </a>
        </div>
      </div>
    </div>


  </section>

  <!-- OPTIONS
  <section id="options">

    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-0 col-md-12">

          <div class="option">
            <div class="option__img">
              <%= image_tag 'home_alt.png', class: 'option__img-pic' %>
            </div>
            <div class="option__content">
              <h2 class="option__header">Move-in Ready Homes</h2>
              <p class="option__text">View our completed or nearly completed homes.</p>
              <a href="/homes" class="option__btn">View Homes</a>
            </div>
          </div>
          <div class="option_reverse">
            <div class="option__img">
              <%= image_tag 'home1_alt.png', class: 'option__img-pic' %>
            </div>
            <div class="option__content">
              <h2 class="option__header">Communities</h2>
              <p class="option__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
              <a href="#" class="option__btn">Learn More</a>
            </div>
          </div>
          <div class="option">
            <div class="option__img">
              <%= image_tag 'home3.png', class: 'option__img-pic' %>
            </div>
            <div class="option__content">
              <h2 class="option__header">Floor Plans</h2>
              <p class="option__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
              <a href="#" class="option__btn">Learn More</a>
            </div>
          </div>
        </div>



      </div>
    </div>

  </section> -->

  <!-- FEATURES -->
  <!-- <section id="features">

  </section> -->

  <!-- JOIN EMAIL LIST -->
  <!-- <section id="join">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
          <div class="join">
            <div class="join__header">
              <h3 class="join__header-text">Stay informed on the latest</h3>
            </div>
            <div class="join__form">
              <input type="text" class="join__input" placeholder="Name" />
              <input type="text" class="join__input" placeholder="Email" />
              <button class="join__btn">Subscribe</button>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section> -->

</main>

<%= render 'partials/footer' %>
