<%= render 'partials/navbar' %>

<header id="available_header">
  <div class="secondary_header">
    <div class="secondary_header__title">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="secondary_header__text">Our Warranty</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="touch">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-8">
          <h2 class="touch__header">How can we help?</h2>
          <p class="touch__text">We're always looking to give you the best service possible, with a goal of completing your warrantable service repairs within 7-10 business days after we receive your request and confirm your warranty eligibility. Please feel free to submit a warranty request by using the form below.</p>
          <p class="touch__text">Prior to submitting a warranty request, it might be helpful to review the most common requests for services that are not covered under your home warranty.</p>
          <p class="touch__text">We like to handle things as quickly as possible for you. So, we ask that you please submit your warranty claim only when you can be available for an initial inspection within 2-3 business days after your submission and available for a full day for warranty service within the following 7-10 business days.</p>
          <p class="touch__text">Surely, your home is likely to be your greatest investment, and you may consult with a third-party inspector to inspect your home prior to your warranty expiration. We're happy to discuss the findings of your third-party inspection report with you; however we do not accept third-party inspection reports. Home inspection reports often point out homeowner maintenance items, suggestions, and recommendations that aren't a part of your home's warranty. We recommend you review your third-party report for warrantable items, and only submit those items on your warranty request.</p>
          <p class="touch__text"><span class="bold">Note:</span> Non-emergency warranty requests must be submitted in writing online.</p>

          <!-- <p class="touch__text-contact"><span class="bold">Sales:</span> 615-231-1322</p> -->
          <p class="touch__text">Please fill out the form below to receive more information. We will touch base with you soon!</p>
          <%= form_for @contact do |f| %>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label class="touch__label">First Name</label>
                  <%= f.text_field :first_name, class: 'touch__input', placeholder: 'First Name' %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label class="touch__label">Last Name</label>
                  <%= f.text_field :last_name, class: 'touch__input', placeholder: 'Last Name' %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label class="touch__label">Email</label>
                  <%= f.email_field :email, class: 'touch__input', placeholder: 'Email' %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label class="touch__label">Phone</label>
                  <%= f.text_field :phone, class: 'touch__input', placeholder: 'Phone' %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label class="touch__label">Address</label>
                  <%= f.text_field :address, class: 'touch__input', placeholder: 'Address' %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label class="touch__label">City</label>
                  <%= f.text_field :city, class: 'touch__input', placeholder: 'City' %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label class="touch__label">State</label>
                  <%= f.text_field :state, class: 'touch__input', placeholder: 'State' %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label class="touch__label">Zip</label>
                  <%= f.text_field :zip, class: 'touch__input', placeholder: 'Zip' %>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label class="touch__label">Closing Date</label>
                  <%= f.text_field :closing_date, class: 'touch__input', placeholder: 'Closing Date' %>
                </div>
              </div>
              <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="form-group">
                  <label class="touch__label">Community you are interested in</label>
                  <select placeholder="Community you are interested in">
                    <option>Select a community</option>
                    <option>Option Two</option>
                  </select>
                </div>
              </div> -->
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="form-group">
                  <label class="touch__label">Tell us about your warranty request</label>
                  <%= f.text_area :message, class: 'touch__textarea', rows: 5, placeholder: 'Tell us about your warranty request' %>
                </div>
              </div>

            </div>
            <button class="touch__btn">Submit</button>
          <% end %>
        </div>
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-3">
          <%= render 'partials/sidebar-images' %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= render 'partials/footer' %>
