<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @contact.first_name %> <%= @contact.last_name %></p>
    <p><%= @contact.email %></p>
    <p><%= @contact.phone %></p>
    <p><%= @contact.address %><br/>
      <%= @contact.city %>, <%= @contact.state %> <%= @contact.zip %></p>
      <hr/>
    <p>Closing Date: <%= @contact.closing_date %></p>
    <p><%= @contact.message %></p>
  </body>
</html>
