<%= form_for @home, html: { multipart: true } do |f| %>
<div class="row">
  <div class="col-md-7">
    <div class="form-group">
      <label>Home Plan</label>
      <%= f.text_field :plan, class: 'form-control', placeholder: 'Home Plan Name' %>
    </div>
    <div class="form-group">
      <label>Home Description</label>
      <%= f.text_area :description, class: 'form-control', placeholder: 'Home Description' %>
    </div>

    <div class="form-group">
      <label>Address</label>
      <%= f.text_field :address, class: 'form-control', placeholder: 'Street Address' %>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label>City</label>
          <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>State</label>
          <%= f.text_field :state, class: 'form-control', placeholder: 'State' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Zip</label>
          <%= f.text_field :zip, class: 'form-control', placeholder: 'Zip' %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Lot Number</label>
          <%= f.text_field :lot, class: 'form-control', placeholder: 'Lot#' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Sqft</label>
          <%= f.text_field :sqft, class: 'form-control', placeholder: 'Sqft' %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Price</label>
          <%= f.text_field :price, class: 'form-control', placeholder: 'Price' %>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Latitude</label>
          <%= f.text_field :latitude, class: 'form-control', placeholder: 'Leave empty' %>
        </div>
        <div class="form-group">
          <label>Longitude</label>
          <%= f.text_field :longitude, class: 'form-control', placeholder: 'Leave empty' %>
        </div>
        <div>

          <%= f.fields_for :features do |builder| %>
            <label>Feature List</label>
            <%= render 'feature_fields', f: builder %>
          <% end %>
          <%= link_to_add_association 'add feature', f, :features %>
        </div>
      </div>
    </div>


  </div>

  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Status</label>
          <%= f.select :status, options_for_select(["Under Construction", "Available", "Pending", "Sold"], selected: @home.status), {prompt: 'Status'} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Garage</label>
          <%= f.select :garage, options_for_select(["1-Car", "2-Car", "3-Car"], selected: @home.garage), {prompt: 'Select garage'} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Bedrooms</label>
          <%= f.select :bedrooms, options_for_select(["2", "3", "4", "5"], selected: @home.bedrooms), {prompt: 'Select bedrooms'} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Bathrooms</label>
          <%= f.select :baths, options_for_select(["1", "1.5", "2", "2.5", "3", "3.5", "4", "4.5"], selected: @home.baths), {prompt: 'Select bathrooms'} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Stories</label>
          <%= f.select :stories, options_for_select(["1", "2", "3"], selected: @home.stories), {prompt: 'Select Stories'} %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Community</label>
          <%= f.collection_select(:community_id, Community.all, :id, :name, prompt: true) %>
        </div>
      </div>
      <div class="col-md-12">

        <%= f.fields_for :home_images do |builder| %>
          <label>Add Photos:</label>
          <%= render 'home_image_fields', f: builder %>
        <% end %>
        <%= link_to_add_association 'add image', f, :home_images %>




      </div>
    </div>
  </div>

</div>

  <%= f.submit 'Submit', class: 'btn btn-red' %>
<% end %>
