<%= render 'partials/navbar' %>

<header id="available_header">
  <div class="secondary_header">
    <div class="secondary_header__title">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h1 class="secondary_header__text">Our Communties</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main>
  <div class="touch">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-8">
          <h2 class="community__header_alt">Community Snapshots</h2>
          <% for community in @communities %>
            <div class="community__container">
              <h3 class="community__title"><%= community.name %></h3>
              <p class="community__text"><%= community.overview %></p>
              <p><%= link_to 'View Community', community, class: 'home__link_alt' %></p>
            </div>
          <% end %>

        </div>
        <div class="col-xs-offset-0 col-xs-12 col-sm-offset-0 col-sm-12 col-md-offset-1 col-md-3">
          <%= render 'partials/sidebar-images' %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= render 'partials/footer' %>
